testing/
node_modules/
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
.eslintignore
.eslintrc.json
testing/
test/
changelog.md
.github
test/
.travis.yml